# top-most EditorConfig file
root = true

# すべてのファイルに適用される基本ルール
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# JSON, TOML, YAMLなどの設定ファイル
[*.{json,toml,yml,yaml}]
indent_size = 2

# Slangシェーダー言語用
[*.slang]
indent_size = 4

# マークダウンは行末の空白を許容する
[*.md]
trim_trailing_whitespace = false