# --- Editor / OS ---
.vscode/
.idea/
.zed/
.DS_Store
Thumbs.db

# --- Rust ---
/target/
**/target/
Cargo.lock
.cargo

# --- C++ ---
cmake-build-debug
renderer_cpp/cmake-build-debug
.cache

# --- Python ---
python/*.egg-info/
python/dist/
python/build/

# --- Slang ---
*.spv

# --- Personal Settings ---
Functional-Implementation-Specifications-and-Processing-Flow
